<h2>Mi Perfil de Tatuadora</h2>

<section class="perfil-box">

  @if (mensaje) {
    <div class="toast">{{ mensaje }}</div>
  }

  @if (artista) {

    <h3>Datos profesionales</h3>

    <label>Nombre artístico</label>
    <input [(ngModel)]="artista.name" name="artName">

    <label>Instagram</label>
    <input [(ngModel)]="artista.ig" name="artIg">

    <label>Bio</label>
    <textarea [(ngModel)]="artista.bio" name="artBio"></textarea>

    <label>Estilos (separados por comas)</label>
    <input [(ngModel)]="textoEstilos" name="artStyles">

    <button (click)="guardarDatosArtista()">
      Guardar datos profesionales
    </button>

    <hr>

    <h3>Datos de usuario</h3>

    <label>Email</label>
<input [(ngModel)]="usuario.email" name="userEmail">

<label>Contraseña</label>
<input [(ngModel)]="usuario.password" name="userPass" type="password">
    <button (click)="guardarDatosUsuario()">
      Guardar datos de usuario
    </button>

  } @else {
    <p>No se encontró tu perfil profesional.</p>
  }

</section>